<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel" jhiTranslate="appApp.task.home.createOrEditLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appApp.task.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="task.descricao"
            required />
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appApp.task.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="task.status" id="field_status" >
                <option value="OPEN" jhiTranslate="appApp.Status.OPEN">OPEN</option>
                <option value="PROGRESS" jhiTranslate="appApp.Status.PROGRESS">PROGRESS</option>
                <option value="DONE" jhiTranslate="appApp.Status.DONE">DONE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appApp.task.duoDate" for="field_duoDate">Duo Date</label>
            <div class="input-group">
                <input id="field_duoDate" type="text" class="form-control" name="duoDate" ngbDatepicker  #duoDateDp="ngbDatepicker" [(ngModel)]="task.duoDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="duoDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.duoDate?.dirty && editForm.controls.duoDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.duoDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="appApp.task.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="task.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === task.user?.id ? task.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
